<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
a:link { color: blue; background-color: transparent; text-decoration: none; }
a:visited { color: blue; background-color: transparent; text-decoration: none; }
a:hover { color: red; background-color: transparent; text-decoration: underline; }
a:active { color: yellow; background-color: transparent; text-decoration: underline; }
</style>
</head>

<body class="page">
{% include _browser-upgrade.html %}
{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<h4 style="margin-bottom:0px;padding-top:10px;">2024</h4>
<ul>Best Paper Award, International Conference on Pattern Recognition (ICPR), Oral &mdash; "AllWeather-Net: Unified Image Enhancement for Autonomous Driving Under Adverse Weather and Low-Light Conditions"</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">2022</h4>
<ul>Best Paper Award, Remote Sensing (RS) &mdash; "Underwater Image Restoration via Contrastive Learning and a Real-world Dataset"</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">2021</h4>
<ul>ESI Highly Cited Paper, IEEE Transactions on Multimedia (TMM) &mdash; "Geometric Back-Projection Network for Point Cloud Classification"</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">2020</h4>
<ul>Best Paper Nomination, IEEE Conference on Computer Vision and Pattern Recognition (CVPR), Oral &mdash; "UC-Net: Uncertainty Inspired RGB-D Saliency Detection via Conditional Variational Autoencoders"</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">2019</h4>
<ul>ESI Highly Cited Paper and Best Paper Honorable Mention, Pattern Recognition (PR) &mdash; "Underwater Scene Prior Inspired Deep Underwater Image and Video Enhancement"</ul>

    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
