<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<!-------------------------------------------------------------------------------------------->
I have the honor to work with great researchers. Following is a non-exhaustive list without any particular order

	    

<!-------------------------------------------------------------------------------------------------------->
<h3 style="margin-bottom:0px;padding-top:20px;">Students</h3>

<header>
<h4>Current PhD students</h4>
</header>
	    
<ul> 
<li> <strong><a href="https://scholar.google.com/citations?user=wI9QQg4AAAAJ&hl=en"> ABM Ashikur Rahman </a></strong> (@KFUPM, since 2024)
<li> <strong><a href="https://www.iau.edu.sa/en/colleges/college-of-computer-science-and-information-technology/faculty/wadha-muteb-al-mattar"> Wadha Almattar</a></strong> (@KFUPM, since 2022)
<li> <strong><a href="https://scholar.google.com.au/citations?hl=en&user=e5fM3ZgAAAAJ&view_op=list_works&sortby=pubdate"> Mona Alzahrani </a></strong> (@KFUPM, since 2022)
<li> <strong><a href="https://ruikai.ink/"> Ruikai Cui </a></strong> (@ANU, since 2021)

</ul>

<header>
<h4>Past PhD students</h4>
</header>
<ul>
<li> <strong><a href="https://scholar.google.com/citations?user=t_M0DmoAAAAJ&hl=en"> Muhammad Ibrahim </a></strong> (@UWA, 2021-2024)
<li> <strong><a href="https://shiqiu0419.github.io/">Shi Qiu</a></strong> (@ANU, 2019-2023) 
<li> <strong><a href="https://scholar.google.com/citations?user=4fU0t_oAAAAJ&hl=en"> Tanveer Hussain </a></strong> (@Sejong Unviersity, 2020-2022)
<li> <strong><a href="https://scholar.google.com/citations?user=SLCxOTEAAAAJ&hl=en"> Yang Liu </a></strong>  (@CSIRO/ANU, 2019-2021)
<li> <strong><a href="https://zhenyueqin.github.io/"> Zhenyue Qin </a></strong>  (@ANU, 2019-2021)
<li> <strong><a href="https://jingzhang617.github.io/"> Jing Zhang </a></strong>  (@ANU, 2019-2021)
<li> <strong><a href="https://dblp.org/pid/190/8790.html"> Kaiyue Lu </a></strong> (@CSIRO/ANU, 2018-2021)
</ul>


	\> \textit{Yasmin Yasin}      \>KFUPM \> Primary  \> 2024- \\
\> \textit{}         \>KFUPM \> Advisor  \> 2024- \\
\> \textit{}      \>KFUPM \> Primary  \> 2024- \\
\> \textit{}      \>KFUPM \> Primary  \> 2024- \\
\> \textit{}      \>KFUPM \> Primary  \> 2024- \\
\> \textit{}      \>KFUPM \> Primary  \> 2024- \\

\> \textit{}      \>KFUPM \> Advisor  \> 2023- \\    
<!-------------------------------------------------------------------------------------------->
<h4 style="margin-bottom:0px;padding-top:20px;">Master Students</h4>
<ul> 
<li> Babar Jan        (@KFUPM, since 2024)
<li> Leena Alghamdi    (@KFUPM, since 2024)
<li> Habiba Kausar    (@KFUPM, since 2024)
<li> Rahaf Jaber     (@KFUPM, since 2024)
<li> Shahzad Khan     (@KFUPM, since 2024)
<li> Khawlah Bajbaa    (@KFUPM, since 2023)
<li> Mohammad Shullar  (@KFUPM, 2023-2024 Graduated)	
<li> Ali Elborki     (@KFUPM, 2023-2024 Graduated)
<li> Qichen Zheng     (@ANU, 2022 Graduated)
<li> Luoyu Chen        (@ANU, 2022 Graduated)
<li> Xingshu Wang      (@ANU, 2021 Graduated)
<li> Ruiqi Chen        (@ANU, 2021 Graduated)
<li> Yuheng Shi        (@ANU, 2021 Graduated)
<li> Nivetha M. A. Kumaran   (@UTS,  2021 Graduated)
<li> Vraj Mehta        (@UTS, 2021 Graduated)
<li> Prem Rijal        (@UTS, 2021 Graduated)
<li> Rizqi Ekoputris   (@ANU, 2020-2022 Graduated)
<li> Ruikai Cui        (@ANU, 2021 Graduated)
<li> Yunfan Wu      (@ANU, 2020-2021 Graduated)
<li> Zhuocheng Yuan (@ANU, 2020 Graduated)
<li> Derek Liu     (@ANU, 2020 Graduated)
<li> Jiabo Xu    (@ANU, 2019-2020 Graduated)
</ul>

<!-------------------------------------------------------------------------------------------->
<h4 style="margin-bottom:0px;padding-top:20px;">B.Sc Students</h4>
<ul> 
<li> Yuanchu Liang (@ANU, 2021 Completed)
<li> Junlin Han (@ANU 2023 Completed)
<li> Waqas Ahmed (@NUCES, 2014 Graduated)
<li> Ibrahim Shakeel (@NUCES, 2014 Graduated)
<li> Khadija Khan (@NUCES, 2013 Graduated)
<li> Akas Ali (@NUCES, 2012 Graduated)
</ul>

<!-------------------------------------------------------------------------------------------------------->
<h4 style="margin-bottom:0px;padding-top:20px;">Vacation and internship students</h4>

<ul> 
<li> Kevin Lam (@CSIRO, 2019-2020)
<li> Jatin Takyar (@UTS, 2020)	
</ul>	

<h3 style="margin-bottom:0px;padding-top:10px;">Collaborators</h4>
<p><a href="http://www.porikli.com/">Prof. Fatih Porikli</a>, 
<a href="http://users.cecs.anu.edu.au/~nmb/">Prof. Nick Barnes</a>, 
<a href="https://ajmalsaeed.net/">Prof. Ajmal Mian</a>, 
<a href="https://li-chongyi.github.io/"> Chongyi Li</a>, 
<a href="https://scholar.google.com.au/citations?hl=en&user=KvbLR3gAAAAJ">Muhammad Saqib</a>, 
<a href="https://scholar.google.com.au/citations?user=DaLwuqYAAAAJ&hl=en">Olivier Salvado</a>, 
<a href="https://scholar.google.com.au/citations?hl=en&user=UnnAvjAAAAAJ">Tom Gedeon</a>,
<a href="https://zheng-lab.cecs.anu.edu.au/J">Liang Zheng</a>,
<a href="https://www.linkedin.com/in/cong-phuoc-huynh-61891b15">Cong Phuoc Huynh</a>, 
<a href="https://sites.google.com/view/fahadkhans/home"> Fahad Shahbaz Khan</a>,  
<a href="https://salman-h-khan.github.io/">Salman Khan</a>, 
<a href="https://scholar.google.com.au/citations?user=32RHN4oAAAAJ&hl=en">Lars Petersson</a>, 
<a href="https://profiles.uts.edu.au/Nabin.Sharma">Nabin Sharma</a>,
<a href="https://au.linkedin.com/in/ali-armin-9b420941">Mohammad Ali Armin</a>,
<a href="https://scholar.google.com/citations?user=5zKe6mUAAAAJ&hl=en">Hafeez Anwar</a>, 
<a href="https://scholar.google.com.au/citations?user=6-YaKHsAAAAJ&hl=en">Mehrdad Shoeiby</a>, 
<a href="https://scholar.google.com.au/citations?hl=en&user=dqEiXrYAAAAJ">Muhammad Tahir</a>
 

</p>


    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
