<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
</style>
</head>
<body class="page">
---
layout: home2
permalink: /scholarships/
title: Prospective Students
tags: [scholarships]
modified: 19-4-2019
comments: false
---

If you are an excellent student and interested to undertake a research based degree at ANU focussed in Computer Vision, Machine Learning, Pattern Recognition and/or Image Processing, please drop me an email with your CV and a brief research proposal. We can then discuss potential research projects and scholarships available to you. Below, I summarize the scholarships for which you may be eligible. <br><br>

**Data61 Scholarships**

Data61 (previously NICTA) provides generous support to PhD students in the form of full scholarships (same rate as Australian Postgraduate Award) or top-up stipends ($10,000 per annum) for a duation of up to 3.5 years. Each year, these scholarships are normally offered in two rounds (normally around August and March). You will still need to apply at the partner university (ANU) and follow their normal application procedure. 

You can find more information about the eligiblity requirements, application procedure and key dates [CSIRO](https://www.csiro.au/en/Careers/Studentships/Postgraduate-scholarships) and [Data61](https://data61.csiro.au/en/Our-Network/Students/Scholarship-Program). <br><br>
> Note that the application dates for domestic and international applicants may be different!


**ANU Scholarships**

A number of scholarships are available at ANU. You can find more details on the links below:
* [Pre-applicaiton guidelines and formal application process](https://cecs.anu.edu.au/study/graduate-research#5)
* [Scholarships at ANU](http://www.anu.edu.au/students/scholarships-support/anu-phd-scholarships) (check [this link](http://www.anu.edu.au/students/scholarships-support/anu-university-research-scholarships) as well.)  

You will be required to fulfill English language requirements at ANU (details available [here](https://policies.anu.edu.au/ppl/document/ANUP_000408).

If you are an international student, you may be eligible for other scholarships such as the following:
* [Endeavour Awards](https://internationaleducation.gov.au/endeavour%20program/scholarships-and-fellowships/international-applicants/pages/international-applicants.aspx)
* [Australian Awards](http://australiaawards.gov.au/Pages/default.aspx)
    
</body>
</html>
