<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

<!-------------------------------------------------------------------------------------------------------->
<!------------ <h3 style="margin-bottom:0px;padding-top:20px;">Talks</h3> --------------------------------->
I have presented at the following venues 
<ul>
<li> <strong> Skeleton Action Recognition</a></strong>, Novermber 2021, United Arab Emirates University (UAEU), Al-Ain, United Arab Emirates
	    
<li> <strong> 3D Vision</a></strong>, October 2021, University of New South Wales (UNSW), Sydney, Australia 
	  
<li> <strong> Saliency Detection</a></strong>, October 2021, General Electric (GE), New York, USA
	
<li> <strong> Point Cloud Analysis \& RGB-D Saliency Detection</a></strong>, September 2021, Mohammad bin Zayed University of Artificial Intelligence (MBZUAI), Abu Dhabi, United Arab Emirates
	
<li> <strong> RGB-D Inspired Saliency Detection</a></strong>, July 2021,  Commonwealth Scientific and Industrial Research Organisation (CSIRO), Canberra, Australia
	
<li> <strong> Image Restoration And Enhancement</a></strong>, May 2021, Inception Institute of Artificial Intelligence (IIAI), Abu Dhabi, United Arab Emirates
	
<li> <strong> Traditional Image Deblurring Fundamentals</a></strong>, March 2020, Commonwealth Scientific and Industrial Research Organisation (CSIRO), Canberra, Australia
	
<li> <strong> Computer Vision and Deep Learning</a></strong>, September 2017, Australian National University (ANU), Canberra, Australia

<li> <strong> Class-specific Image Deblurring</a></strong>, August 2015, National Information and Communications Technology Australia (NICTA), Canberra, Australia

<li> <strong> Speeded Up Robust Features</a></strong>, March 2012, Toshiba Medical Visualization Systems Europe (TMVSE), Scotland, UK
</ul>
	    
      
</body>
</html>
