<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<!-------------------------------------------------------------------------------------------->
<!------------ <h3 style="margin-bottom:0px;padding-top:20px;">Talks</h3> --------------------------------->
I have presented at the following venues 
<ul>
<li> November 2021: <strong> Skeleton Action Recognition</a></strong>, United Arab Emirates University (UAEU), Al-Ain, United Arab Emirates	    
<li> October 2021:  <strong> 3D Vision</a></strong>, University of New South Wales (UNSW), Sydney, Australia   
<li> October 2021:   <strong> Saliency Detection</a></strong>, General Electric (GE), New York, USA
<li> September 2021: <strong> Point Cloud Analysis \& RGB-D Saliency Detection</a></strong>, Mohammad bin Zayed University of Artificial Intelligence (MBZUAI), Abu Dhabi, United Arab Emirates	
<li> July 2021: <strong> RGB-D Inspired Saliency Detection</a></strong>, Commonwealth Scientific and Industrial Research Organisation (CSIRO), Canberra, Australia
<li> May 2021: <strong> Image Restoration And Enhancement</a></strong>, Inception Institute of Artificial Intelligence (IIAI), Abu Dhabi, United Arab Emirates	
<li> March 2020: <strong> Traditional Image Deblurring Fundamentals</a></strong>, Commonwealth Scientific and Industrial Research Organisation (CSIRO), Canberra, Australia
<li> September 2017: <strong> Computer Vision and Deep Learning</a></strong>,  Australian National University (ANU), Canberra, Australia
<li> August 2015: <strong> Class-specific Image Deblurring</a></strong>,  National Information and Communications Technology Australia (NICTA), Canberra, Australia
<li> March 2012: <strong> Speeded Up Robust Features</a></strong>, Toshiba Medical Visualization Systems Europe (TMVSE), Scotland, UK
</ul>
  </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
